<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create"  method="post">
        <input type="text" placeholder="Enter Name" name="name" id="">
        <input type="text" placeholder="Enter Email" name="email" id="">
        <input type="text" placeholder="Enter Bio" name="bio" id="">
        <input type="text" placeholder="Enter ProfilePic" name="imgUrl" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>